<center>
    <div id="demo<%= @post.id %>" class="carousel slide" data-bs-ride="carousel">
        <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <% @post.post_images.each_with_index do |img, index| %>
              <% if index == 0 %>
                <div class="carousel-item active">
                  <%= image_tag(img.image.url, height:"500px" , width:"600px", class: "d-block") %>
                </div> 
              <% else %>
                <div class="carousel-item">
                  <%= image_tag(img.image.url, height:"500px" , width:"600px", class: "d-block") %>
                </div>
              <% end %>
            <% end %>
            <% @post.post_videos.each_with_index do |vdo, index| %>
              <% if index == 0 && @post.post_images.blank? %>
                <div class="carousel-item active">
                  <%= video_tag(vdo.video.url, height:"500px" , width:"600px", class: "d-block", :controls => true) %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= video_tag(vdo.video.url, height:"500px" , width:"600px", class: "d-block", :controls => true) %>
                </div>
              <% end %>
            <% end %>
          </div>
        
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo<%= @post.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo<%= @post.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
    </div> 
   

<div>
        <%= form_for([@post, @post.post_comments.build], remote: true) do |form| %>
          <br>
          <div>
            <%=form.label :Comment %>
            <%= form.text_field :content, class: "content_#{@post.id}" %>
          </div>
          <br>
          <div>
            <%= form.submit %>
          </div>
        <% end %>
    </div>
           
    <hr style="color:darkgreen">
    
    <div class="comment_<%= @post.id %>">
      
      <h6>comments</h6>
      
      <% @post.post_comments.each do |com| %>
          <div class="com_<%= com.id %>">
          <p>
              <% if com.content.present? %>
                  <% if com.user.profile.present? && com.user.profile.url.present? %>
                    <%= image_tag(com.user.profile.url, style:"width: 60px; , height:70px;",class:"img-fluid rounded-circle border border-dark border-3" )%>
                  <% else %>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                    style="width: 70px;">
                  <% end %>

                  <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= com.user.email %></span>
                  <br><br>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;<%= com.content %></span>
                  <br>
                  <% if com.user_id === current_user.id %> 
                  <% end %>
                  <%= button_to "DeleteComment" , post_post_comment_path(@post.id, com.id), method: :delete, remote: true %>     
                  <hr>
                  <% end %> 
                </div>
              <% end %>
            </p>
      </div>
      <br>
    </div>
  </center>
